<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- SERVICE SETTINGS -->
		<add key="username" value="admin1098" />
		<add key="password" value="admin1098" />
		<add key="firstname" value="admin1098" />
		<add key="lastname" value="admin1098" />
		<add key="encrypted_pepper" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAa75LqnrFP0GZgcJlYraeNgQAAAACAAAAAAAQZgAAAAEAACAAAACuI5errUUAW9L6UZt04MIqlFyaATBuGQPxuDxfBaEEEQAAAAAOgAAAAAIAACAAAAA4OUIRTAQOEOnxS7807JlZLXOhd5+opzxYTUUO5OvnUzAAAACFSTHxVghe845ux9qnu60NcSgP4gbfzL5I1xuWPze7OpywQqkUmWDRecyUamZcyftAAAAAJSDo3BEM99b2DSOjUnwDEoXgwakQHkZg32fvvV8+fkb/F1XWV0/6mggnOo3w+Fm0ypHl1kje0lNQMVt/zb6nEg==" />
	</appSettings>
	<connectionStrings>
		<add name="database" connectionString="Data Source=localhost; Initial Catalog=component_monitoring;Integrated Security=True;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>