<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- SERVICE SETTINGS -->
		<add key="dpapi_pepper_string" value="9lN@#rAQpO#BPpPHw#$An#$%yS^%49IdcX#$Q1XfUur" />
		<add key="file_output" value="encrypted_pepper.txt" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>